.header-mobile-view{
    display: none;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
.categories-button{
    width: 165px;
    height: 35px;
    cursor: pointer;
    border-radius: 30px;
    background: #E5F4E2;
    color: #2BA513;
    display: flex;    
    align-items: center;
    justify-content: center;
    svg{
        margin-right: 6px;
    }
}
.filter-button{
    width: 165px;
    height: 35px;
    cursor: pointer;
    border-radius: 30px;
    background: #E8EEFF;
    color: #206DFC;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        margin-right: 6px;
    }
}
@media(max-width: 1024px){
    .header-mobile-view{
        display: flex;
    }
}